.navbar{
  background: lightskyblue;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo{
  background-color:lightpink;
  color: black;
  font-size: 20px;
  font-family:  sans-serif;
  background-image: linear-gradient(to top,#ff158f 0% #f77 1005);
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: wavy;
}
.navbar_menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;

}
.navbar_item{
  height: 80px;

}
.navbar_links{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 5rem;
  
}
.About-us{
  background-color: lightpink;
}