*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: lightgrey;
  color: white;
}
#headbar{
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;

}
.headbar_container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li{
  list-style: none;
  display: inline-block;
  background-color: red;
  color: blue;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 0 5rem;
  text-decoration: none;
   
}
nav ul li:hover{
  opacity: 0.8;
  transition: all 0.15s ease;
}
.heading{
  font-size: 50px;
  margin-top: 30%;

}
.heading h1{
  font-size: 60px;
  margin-right: 20%;
  
}
.hello{
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 20%;
}
#about{
  color: black;
  padding: 80px 0;
  width: 200px;
  
}


.footer{
  background-color: lightblue;
  padding: 70px 0;
}

 .footer-container{
  margin: auto;
  max-width: 1160px;
 } 
 .row{
  display: flex;
  flex-wrap: wrap;
 }
 ul{
  list-style: none;
 }

 .column{
  padding: 0 12px;
  width: 25%;

 }
 .column h4 {
  margin-bottom: 35px;
  position: relative;
  color: #000;
  text-transform: capitalize;
 }
 .column ul li a:hover{
  color: red;
  transition-duration: 0.15s;
 }
 
  
  

 
  
